<!-- import css lib -->
<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
<!--<link rel="stylesheet" href="../lib/swipebox/css/swipebox.min.css">-->
<link rel="stylesheet" href="../lib/summernote/summernote.css">
<link rel="stylesheet" href="../css/lnsStyle.css">
<!--<link href="/lib/bootstrap/css/3rd-party-css.min.css" rel="stylesheet" media="screen">-->

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--[if IE 7]>
<!--<link rel="stylesheet" href="lib/font-awesome/css/font-awesome-ie7.min.css">-->
<![endif]-->