<div class="main-event-home" class="home-main-block">
    <div class="top-block-all">
        <div class="icon">
            <i class="fa fa-star-o"></i>
        </div>
        <div class="title">
            Thông tin nhóm
        </div>
    </div>
    <div class="block-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <p class="col-md-8 margin-top10">“Anh em hãy cho thì sẽ được Thiên Chúa cho lại. Người sẽ đong cho anh em đấu đủ lượng đã dằn, đã lắc và đầy tràn, mà đổ vào vạt áo anh em. Vì anh em đong bằng đấu nào, thì Thiên Chúa sẽ đong lại cho anh em bằng đấu ấy” (Lc 6,38).</p>
            </div>

        </div>
    </div>

</div>