<div>
    <div class="col-md-12">
        <form class="padding-15">
            <fieldset>
                <legend>Đăng ký tham gia:</legend>
                <div class="form-group">
                    <label for="exampleInputEmail1">Họ Tên</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputTel1">Số điện thoại</label>
                    <input type="tel" class="form-control" id="exampleInputTel1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </fieldset>

        </form>
    </div>
   
</div>