USE [TYVAS]
GO
/****** Object:  Table [dbo].[Attender]    Script Date: 6/11/2015 9:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Type] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Attender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Attender] ON 

INSERT [dbo].[Attender] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (1, N'11', N'Phieudieu54@gmail.com', N'4444444444', N'Nguyen Van Luong', 0, CAST(N'2015-05-19 22:29:01.000' AS DateTime), CAST(N'2015-06-10 18:48:48.227' AS DateTime), N'Rookey', N'Rookey')
INSERT [dbo].[Attender] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (5, N'', N'Phieudieu54@gmail.com', N'', N'Nguyen Van Luong1', 0, CAST(N'2015-05-26 22:01:39.000' AS DateTime), CAST(N'2015-06-10 18:48:48.227' AS DateTime), N'Rookey', N'Rookey')
INSERT [dbo].[Attender] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (6, N'', N'Phieudieu54@gmail.com', N'', N'Nguyen Van Luong1', 0, CAST(N'2015-05-31 14:08:28.000' AS DateTime), CAST(N'2015-06-10 18:48:48.227' AS DateTime), N'Rookey', N'Rookey')
GO
SET IDENTITY_INSERT [dbo].[Attender] OFF
