USE [TYVAS]
GO
/****** Object:  Table [dbo].[Attender]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Type] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Attender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttenderAndSponsor]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttenderAndSponsor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Type] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_AttenderAndSponsor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttenderEvent]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttenderEvent](
	[IDAttender] [nvarchar](50) NOT NULL,
	[IDEvent] [int] NULL,
	[CompletedFee] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banner]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ImageName] [nvarchar](100) NULL,
	[Path] [nvarchar](255) NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Link] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[PID] [int] NOT NULL,
	[UserID] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CMDate] [datetime] NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[ApprovedDate] [datetime] NULL,
	[Actived] [int] NULL,
	[Reason] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doccument]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doccument](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Document] [image] NULL,
	[Path] [nvarchar](255) NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventLog]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[UserID] [nvarchar](50) NULL,
	[DateTimeStamp] [datetime] NULL,
	[FromData] [nvarchar](1000) NULL,
	[ToData] [nvarchar](1000) NULL,
 CONSTRAINT [PK_EventLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Reference] [nvarchar](255) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Images] [nvarchar](255) NULL,
	[Banner] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Amount] [decimal](18, 0) NULL,
	[FeeJoin] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[ShortContent] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ViewNbr] [int] NULL,
	[Image] [nvarchar](255) NULL,
	[Actived] [tinyint] NULL,
	[LastModifedDate] [datetime] NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
	[TopNbr] [tinyint] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sharing]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sharing](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Author] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sharing] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SponsorEvent]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SponsorEvent](
	[IDSponsor] [nvarchar](50) NOT NULL,
	[IDEvent] [int] NOT NULL,
	[Donate] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYASInfo]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYASInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Content] [nvarchar](50) NULL,
 CONSTRAINT [PK_TYASInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 6/11/2015 12:20:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LMName] [nvarchar](50) NULL,
	[Sex] [tinyint] NULL,
	[Email] [nvarchar](50) NULL,
	[BirthDay] [datetime] NULL,
	[UserName] [nvarchar](50) NULL,
	[PassWord] [nvarchar](50) NULL,
	[Image] [image] NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[Actived] [tinyint] NULL,
	[Status] [tinyint] NULL,
	[IDReset] [nvarchar](50) NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Attender] ON 

INSERT [dbo].[Attender] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (1, N'11', N'Phieudieu54@gmail.com', N'4444444444', N'Nguyen Van Luong', 0, CAST(N'2015-05-19 22:29:01.000' AS DateTime), CAST(N'2015-06-10 18:48:48.227' AS DateTime), N'Rookey', N'Rookey')
INSERT [dbo].[Attender] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (5, N'', N'Phieudieu54@gmail.com', N'', N'Nguyen Van Luong1', 0, CAST(N'2015-05-26 22:01:39.000' AS DateTime), CAST(N'2015-06-10 18:48:48.227' AS DateTime), N'Rookey', N'Rookey')
INSERT [dbo].[Attender] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (6, N'', N'Phieudieu54@gmail.com', N'', N'Nguyen Van Luong1', 0, CAST(N'2015-05-31 14:08:28.000' AS DateTime), CAST(N'2015-06-10 18:48:48.227' AS DateTime), N'Rookey', N'Rookey')
GO
SET IDENTITY_INSERT [dbo].[Attender] OFF
SET IDENTITY_INSERT [dbo].[Doccument] ON 

INSERT [dbo].[Doccument] ([ID], [Title], [Document], [Path]) VALUES (2, N'thtest app tyvas  ', 0x3C703E61613C2F703E0D0A3C703E3C696D67207372633D222F46434B656469746F722F496D616765732F494D475F32303135303231395F3030313435312E6A7067222077696474683D223139323022206865696768743D22333230302220616C743D2222202F3E3C2F703E, NULL)
SET IDENTITY_INSERT [dbo].[Doccument] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PID], [Title], [Keyword], [Content], [ShortContent], [CreatedDate], [CreatedBy], [ViewNbr], [Image], [Actived], [LastModifedDate], [LastModifiedUser], [TopNbr]) VALUES (1, N'Chuong trinh DakLak', N'TYVAS', N'Tinh Yeu va anh sang ...........................................', N'Tinh Yeu va anh sang ...........................................', CAST(N'2015-06-10 19:54:44.000' AS DateTime), N'thanh tu', 1, N'/Images/IMG_20140315_173356.jpg', 0, CAST(N'2015-06-10 19:54:44.000' AS DateTime), N'Rookey', 1)
INSERT [dbo].[Posts] ([PID], [Title], [Keyword], [Content], [ShortContent], [CreatedDate], [CreatedBy], [ViewNbr], [Image], [Actived], [LastModifedDate], [LastModifiedUser], [TopNbr]) VALUES (2, N'Chuong trinh DakLak', N'TYVAS', N'Tinh Yeu va anh sang ...........................................', N'Tinh Yeu va anh sang ...........................................', CAST(N'2015-06-10 19:56:02.000' AS DateTime), N'thanh tu', 1, N'/Images/IMG_20140315_173356.jpg', 0, CAST(N'2015-06-10 19:56:02.000' AS DateTime), N'Rookey', 1)
INSERT [dbo].[Posts] ([PID], [Title], [Keyword], [Content], [ShortContent], [CreatedDate], [CreatedBy], [ViewNbr], [Image], [Actived], [LastModifedDate], [LastModifiedUser], [TopNbr]) VALUES (3, N'Chuong trinh DakLak', N'TYVAS', N'Tinh Yeu va anh sang ...........................................', N'Tinh Yeu va anh sang ...........................................', CAST(N'2015-06-10 19:56:17.000' AS DateTime), N'thanh tu', 1, N'/Images/IMG_20140315_173356.jpg', 0, CAST(N'2015-06-10 19:56:17.000' AS DateTime), N'Rookey', 1)
SET IDENTITY_INSERT [dbo].[Posts] OFF
