USE [TYVAS]
GO
/****** Object:  Table [dbo].[Attender]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Type] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Attender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttenderEvent]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttenderEvent](
	[IDAttender] [nvarchar](50) NOT NULL,
	[IDEvent] [int] NULL,
	[CompletedFee] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banner]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ImageName] [nvarchar](100) NULL,
	[Path] [nvarchar](255) NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Link] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[PID] [int] NOT NULL,
	[UserID] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[CMDate] [datetime] NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[ApprovedDate] [datetime] NULL,
	[Actived] [int] NULL,
	[Reason] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doccument]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doccument](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Document] [image] NULL,
	[Path] [nvarchar](255) NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventLog]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[UserID] [nvarchar](50) NULL,
	[DateTimeStamp] [datetime] NULL,
	[FromData] [nvarchar](1000) NULL,
	[ToData] [nvarchar](1000) NULL,
 CONSTRAINT [PK_EventLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Reference] [nvarchar](255) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Images] [nvarchar](255) NULL,
	[Banner] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Amount] [decimal](18, 0) NULL,
	[FeeJoin] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[ShortContent] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ViewNbr] [int] NULL,
	[Image] [nvarchar](255) NULL,
	[Actived] [tinyint] NULL,
	[LastModifedDate] [datetime] NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
	[TopNbr] [tinyint] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sharing]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sharing](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Author] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sharing] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sponsor]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Type] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_AttenderAndSponsor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SponsorEvent]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SponsorEvent](
	[IDSponsor] [int] NOT NULL,
	[IDEvent] [int] NOT NULL,
	[Donate] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[LastModifiedUser] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYASInfo]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYASInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Content] [nvarchar](1000) NULL,
 CONSTRAINT [PK_TYASInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 6/12/2015 11:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LMName] [nvarchar](50) NULL,
	[Sex] [tinyint] NULL,
	[Email] [nvarchar](50) NULL,
	[BirthDay] [datetime] NULL,
	[UserName] [nvarchar](50) NULL,
	[PassWord] [nvarchar](50) NULL,
	[Image] [image] NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[Actived] [tinyint] NULL,
	[Status] [tinyint] NULL,
	[IDReset] [nvarchar](50) NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Attender] ON 

INSERT [dbo].[Attender] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (202, N'Nguyen Thanh Tu Attender6/12/2015 11:09:04 PM', N'Phieudieu54@gmail.com', N'', N'Quang Trung, Go Vap Attender6/12/2015 11:09:03 PM', 0, CAST(N'2015-06-12 23:09:03.000' AS DateTime), CAST(N'2015-06-12 23:09:04.000' AS DateTime), N'Rookey Attender6/12/2015 11:09:03 PM', N'Rookey Attender6/12/2015 11:09:04 PM')
INSERT [dbo].[Attender] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (203, N'Nguyen Thanh Tu Attender6/12/2015 11:09:36 PM', N'Phieudieu54@gmail.com', N'', N'Quang Trung, Go Vap Attender6/12/2015 11:09:36 PM', 0, CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'Rookey Attender6/12/2015 11:09:36 PM', N'Rookey Attender6/12/2015 11:09:36 PM')
INSERT [dbo].[Attender] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (204, N'Nguyen Thanh Tu Attender6/12/2015 11:09:36 PM', N'Phieudieu54@gmail.com', N'', N'Quang Trung, Go Vap Attender6/12/2015 11:09:36 PM', 0, CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'Rookey Attender6/12/2015 11:09:36 PM', N'Rookey Attender6/12/2015 11:09:36 PM')
SET IDENTITY_INSERT [dbo].[Attender] OFF
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([ID], [Description], [ImageName], [Path]) VALUES (9, N'Top9', N'BannerTop', N'/BannerTop.png')
INSERT [dbo].[Banner] ([ID], [Description], [ImageName], [Path]) VALUES (10, N'Top9', N'BannerTop', N'/BannerTop.png')
INSERT [dbo].[Banner] ([ID], [Description], [ImageName], [Path]) VALUES (11, N'Top9', N'BannerTop', N'/BannerTop.png')
SET IDENTITY_INSERT [dbo].[Banner] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Description], [Link]) VALUES (1, N'Trang Chủ', N'Trang Chủ', N'...')
INSERT [dbo].[Category] ([ID], [Name], [Description], [Link]) VALUES (2, N'Sự Kiện Mới', N'Sự Kiện Mới', N'...')
INSERT [dbo].[Category] ([ID], [Name], [Description], [Link]) VALUES (3, N'Sự Kiện', N'Sự Kiện', N'...')
SET IDENTITY_INSERT [dbo].[Category] OFF
INSERT [dbo].[Comment] ([PID], [UserID], [Content], [CMDate], [ApprovedBy], [ApprovedDate], [Actived], [Reason]) VALUES (765, N'06122015230916', N'', CAST(N'2015-06-12 23:09:15.000' AS DateTime), N'TT', CAST(N'2015-06-12 23:09:15.000' AS DateTime), 1, N'')
INSERT [dbo].[Comment] ([PID], [UserID], [Content], [CMDate], [ApprovedBy], [ApprovedDate], [Actived], [Reason]) VALUES (237, N'06122015230936', N'', CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'TT', CAST(N'2015-06-12 23:09:36.000' AS DateTime), 1, N'')
INSERT [dbo].[Comment] ([PID], [UserID], [Content], [CMDate], [ApprovedBy], [ApprovedDate], [Actived], [Reason]) VALUES (388, N'06122015230936', N'', CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'TT', CAST(N'2015-06-12 23:09:36.000' AS DateTime), 1, N'')
SET IDENTITY_INSERT [dbo].[Doccument] ON 

INSERT [dbo].[Doccument] ([ID], [Title], [Document], [Path]) VALUES (2, N'thtest app tyvas  ', 0x3C703E61613C2F703E0D0A3C703E3C696D67207372633D222F46434B656469746F722F496D616765732F494D475F32303135303231395F3030313435312E6A7067222077696474683D223139323022206865696768743D22333230302220616C743D2222202F3E3C2F703E, NULL)
SET IDENTITY_INSERT [dbo].[Doccument] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([ID], [Title], [Description], [Address], [Reference], [StartDate], [EndDate], [Images], [Banner], [Status], [Amount], [FeeJoin], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (1, N'Title', N'Chuyến đi tới...', N'NVL Go Vap', N'', CAST(N'2015-06-12 23:09:17.000' AS DateTime), CAST(N'2015-06-12 23:09:17.000' AS DateTime), N'/Image.png', N'/Banner.png', 1, CAST(1000000 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)), CAST(N'2015-06-12 23:09:17.000' AS DateTime), CAST(N'2015-06-12 23:09:17.000' AS DateTime), N'TT', N'TT')
INSERT [dbo].[Events] ([ID], [Title], [Description], [Address], [Reference], [StartDate], [EndDate], [Images], [Banner], [Status], [Amount], [FeeJoin], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (2, N'Title', N'Chuyến đi tới...', N'NVL Go Vap', N'', CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'/Image.png', N'/Banner.png', 1, CAST(1000000 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)), CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'TT', N'TT')
INSERT [dbo].[Events] ([ID], [Title], [Description], [Address], [Reference], [StartDate], [EndDate], [Images], [Banner], [Status], [Amount], [FeeJoin], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (3, N'Title', N'Chuyến đi tới...', N'NVL Go Vap', N'', CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'/Image.png', N'/Banner.png', 1, CAST(1000000 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)), CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'TT', N'TT')
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PID], [Title], [Keyword], [Content], [ShortContent], [CreatedDate], [CreatedBy], [ViewNbr], [Image], [Actived], [LastModifedDate], [LastModifiedUser], [TopNbr]) VALUES (50, N'Chuong trinh DakLak9', N'TYVAS9', N'Tinh Yeu va anh sang ...........................................', N'Tinh Yeu va anh sang ...........................................', CAST(N'2015-06-12 23:09:10.000' AS DateTime), N'thanh tu9', 1, N'/Images/IMG_20140315_173356.jpg', 0, CAST(N'2015-06-12 23:09:11.000' AS DateTime), N'Rookey9', 1)
INSERT [dbo].[Posts] ([PID], [Title], [Keyword], [Content], [ShortContent], [CreatedDate], [CreatedBy], [ViewNbr], [Image], [Actived], [LastModifedDate], [LastModifiedUser], [TopNbr]) VALUES (51, N'Chuong trinh DakLak9', N'TYVAS9', N'Tinh Yeu va anh sang ...........................................', N'Tinh Yeu va anh sang ...........................................', CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'thanh tu9', 1, N'/Images/IMG_20140315_173356.jpg', 0, CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'Rookey9', 1)
INSERT [dbo].[Posts] ([PID], [Title], [Keyword], [Content], [ShortContent], [CreatedDate], [CreatedBy], [ViewNbr], [Image], [Actived], [LastModifedDate], [LastModifiedUser], [TopNbr]) VALUES (52, N'Chuong trinh DakLak9', N'TYVAS9', N'Tinh Yeu va anh sang ...........................................', N'Tinh Yeu va anh sang ...........................................', CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'thanh tu9', 1, N'/Images/IMG_20140315_173356.jpg', 0, CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'Rookey9', 1)
SET IDENTITY_INSERT [dbo].[Posts] OFF
SET IDENTITY_INSERT [dbo].[Sharing] ON 

INSERT [dbo].[Sharing] ([ID], [Title], [Description], [Author], [CreatedDate], [LastModifedDate], [LastModifiedUser]) VALUES (1, N'share', N'Share posts', N'TT', CAST(N'2015-06-12 23:09:19.000' AS DateTime), CAST(N'2015-06-12 23:09:19.000' AS DateTime), N'TT')
INSERT [dbo].[Sharing] ([ID], [Title], [Description], [Author], [CreatedDate], [LastModifedDate], [LastModifiedUser]) VALUES (2, N'share', N'Share posts', N'TT', CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'TT')
INSERT [dbo].[Sharing] ([ID], [Title], [Description], [Author], [CreatedDate], [LastModifedDate], [LastModifiedUser]) VALUES (3, N'share', N'Share posts', N'TT', CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'TT')
SET IDENTITY_INSERT [dbo].[Sharing] OFF
SET IDENTITY_INSERT [dbo].[Sponsor] ON 

INSERT [dbo].[Sponsor] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (9, N'Nguyen Thanh Tu Sponsor6/12/2015 11:09:07 PM', N'Phieudieu54@gmail.com', N'', N'Quang Trung, Go Vap Sponsor6/12/2015 11:09:06 PM', 0, CAST(N'2015-06-12 23:09:06.000' AS DateTime), CAST(N'2015-06-12 23:09:07.000' AS DateTime), N'Rookey Sponsor6/12/2015 11:09:06 PM', N'Rookey Sponsor6/12/2015 11:09:07 PM')
INSERT [dbo].[Sponsor] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (10, N'Nguyen Thanh Tu Sponsor6/12/2015 11:09:36 PM', N'Phieudieu54@gmail.com', N'', N'Quang Trung, Go Vap Sponsor6/12/2015 11:09:36 PM', 0, CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'Rookey Sponsor6/12/2015 11:09:36 PM', N'Rookey Sponsor6/12/2015 11:09:36 PM')
INSERT [dbo].[Sponsor] ([ID], [FullName], [Email], [Phone], [Address], [Type], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (11, N'Nguyen Thanh Tu Sponsor6/12/2015 11:09:36 PM', N'Phieudieu54@gmail.com', N'', N'Quang Trung, Go Vap Sponsor6/12/2015 11:09:36 PM', 0, CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'Rookey Sponsor6/12/2015 11:09:36 PM', N'Rookey Sponsor6/12/2015 11:09:36 PM')
SET IDENTITY_INSERT [dbo].[Sponsor] OFF
INSERT [dbo].[SponsorEvent] ([IDSponsor], [IDEvent], [Donate], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (1, 1, CAST(100 AS Decimal(18, 0)), CAST(N'2015-06-12 23:09:19.000' AS DateTime), CAST(N'2015-06-12 23:09:19.000' AS DateTime), N'TT', N'TT')
INSERT [dbo].[SponsorEvent] ([IDSponsor], [IDEvent], [Donate], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (1, 1, CAST(100 AS Decimal(18, 0)), CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'TT', N'TT')
INSERT [dbo].[SponsorEvent] ([IDSponsor], [IDEvent], [Donate], [CreatedDate], [LastModifedDate], [CreatedUser], [LastModifiedUser]) VALUES (1, 1, CAST(100 AS Decimal(18, 0)), CAST(N'2015-06-12 23:09:36.000' AS DateTime), CAST(N'2015-06-12 23:09:36.000' AS DateTime), N'TT', N'TT')
SET IDENTITY_INSERT [dbo].[TYASInfo] ON 

INSERT [dbo].[TYASInfo] ([ID], [Name], [Content]) VALUES (9, N'Tên nhóm', N'TÌNH YÊU Và ÁNH SÁNG')
INSERT [dbo].[TYASInfo] ([ID], [Name], [Content]) VALUES (10, N'Ngày thành lập', N'14/07/2013')
INSERT [dbo].[TYASInfo] ([ID], [Name], [Content]) VALUES (11, N'Facebook Web Address', N'www.facebook.com/TINHYEUVaANHSANG')
SET IDENTITY_INSERT [dbo].[TYASInfo] OFF
