body {
  background: #D2D2D2;
}
a {
  color: #ef4f00;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gray-color {
  color: #e4e3e3;
}
.orange-color {
  color: #ef4f00;
}
.blue-color {
  color: #0b1962;
}
.font-bold {
  font-weight: 600;
}
.padding-15 {
  padding: 15px;
}
.margin-top10 {
  margin-top: 10px;
}
.text-right {
  text-align: right;
}
.top-block-all {
  height: 43px;
  background-color: white;
  padding-left: 15px;
  font-size: 16px;
  display: table;
  width: 100%;
  border-bottom: 2px solid #ef4f00;
}
.top-block-all .icon {
  display: table-cell;
  vertical-align: middle;
  width: 5%;
  text-align: center;
  padding-right: 15px;
  border-right: 2px solid #e4e3e3;
}
.top-block-all .icon .btn-default {
  background: #EF4F00;
  color: #fff;
  font-weight: bold;
}
.top-block-all .icon .select-year li {
  border-left: 1px solid #dddddd;
  margin-left: 20px;
  padding: 10px 0px;
}
.top-block-all .icon .select-year li i {
  margin-left: -26px;
  padding-right: 10px;
  color: #EF4F00;
}
.top-block-all .title {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
.block-body {
  background: #ffffff;
}
.block-body .items-event .item-thumbnail {
  width: 200px;
  height: 100px;
  display: block;
}
.block-body .items-event .item-event {
  padding-top: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #e4e3e3;
  padding-bottom: 5px;
}
.banner-top {
  min-height: 100px;
  background: #ffffff;
}
.banner-top .media-left img {
  height: 100px;
}
.menu-top {
  margin-bottom: 15px;
}
.menu-top ul {
  margin: 0px;
  padding: 0;
  background: #0b1962;
  font-size: 0px;
}
.menu-top ul li {
  list-style: none;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  border-right: 1px solid rgba(168, 161, 157, 0.36);
}
.menu-top ul li a {
  text-decoration: none;
  font-size: 14px;
}
.menu-top ul li:hover,
.menu-top ul li:focus {
  background: #EF4F00;
}
.menu-top ul li:hover a,
.menu-top ul li:focus a {
  color: #0b1962;
}
.lns-footer {
  background: #ffffff;
  margin-top: 10px;
}
.main-page-content {
  min-height: 500px;
}
.main-page-content .home-main-block {
  margin-bottom: 10px;
}
.padding-left0 {
  padding-left: 0px !important;
}
.padding0 {
  padding: 0px;
}
.icon-list-style {
  font-size: 9px;
  padding-right: 10px;
}
.display-table a,
.display-table span,
.display-table i {
  vertical-align: middle;
}
.left-menu-admin .panel-group .panel + .panel {
  margin-top: 0px;
}
.left-menu-admin .panel {
  border-radius: 0px;
}
.left-menu-admin .panel-body {
  padding: 0px;
}
.left-menu-admin .panel-body ul {
  margin-top: 0;
  margin-bottom: 0px;
}
.left-menu-admin .panel-body .list-group {
  padding-left: 0;
}
.left-menu-admin .panel-body .list-group .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.left-menu-admin .panel-body .list-group .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: none;
}
.left-menu-admin .panel-body .list-group .list-group-item {
  border-left: none;
  border-right: none;
}
.left-menu-admin .panel-body .list-group .list-group-item i {
  font-size: 9px;
  color: #e4e3e3;
  padding-right: 10px;
}
.event-form-reg fieldset {
  border: 1px solid #e4e3e3;
  padding: 10px;
}
.event-form-reg legend {
  width: auto;
  border-bottom: none;
}
.input-date-event .input-date ul {
  width: 100%;
}
.input-date-event .input-date ul table {
  width: 100%;
}
.admin-right-box {
  border: 1px solid #e4e3e3;
  padding: 15px;
  padding-top: 0px;
}
.admin-right-box .admin-right-box-title {
  background-color: #f5f5f5;
  padding: 10px;
}
.image-feature-content a img {
  width: 250px;
  height: auto;
}
