<div class="main-event-home" class="home-main-block">
    <div class="top-block-all">
        <div class="icon">
            <i class="fa fa-star-o"></i>
        </div>
        <div class="title">
           New Event
        </div>
    </div>
    <div class="block-body">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/400/200/?{{i}}" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>“Anh em hãy cho thì sẽ được Thiên Chúa cho lại. Người sẽ ...</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>